* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 140px;
    background-color: #4a4f56;
    text-align: center;
}

.header__title {
    color: #eb7e7f;
    padding: 20px 0;
}

.header__description-text {
    color: #eb7e7f;
    font-size: 30px;
    font-weight: bold;
}

.main {
    background-color: #3b3f45;
    height: calc(100vh - 140px);
}

.main__section {
    width: fit-content;
    margin: auto;
    position: relative;
    top: 50px;
}

.main__item {
    width: 600px;
    height: 80px;
    background-color: #a3a0b5;
    display: flex;
    align-items: center;
}

.main__item-text {
    font-size: 30px;
}

.main__item-brackets {
    font-size: 20px;
}

.main__checkbox {
    transform: scale(1.8);
    margin: 0 15px;
    vertical-align: 4px;
}

input:checked+label {
    text-decoration: line-through;
}

.main__item:hover {
    border-top: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    transition: all .4s ease-in;
}

.main__item:nth-child(2n) {
    background-color: #88839e;
} 

.main__item:active {
    background-color: #FF0000;
}

.wrapper {
    width: 600px;
    height: 80px;
    background-color: #4a4f56;
    text-align: center;
    padding: 20px;
    margin: 100px auto;
}

.wrapper__text {
    color: #eb7e7f;
    font-size: 30px;
    font-style: i;
}
